{% extends "main/layout.html" %}
{% block title %}Portfolio{% endblock %}
{% block body %}
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Success Stories</h1>
                <p class="lead fw-normal text-muted mb-0">Showcasing Our Expertise: Company Portfolio</p>
            </div>
            <div class="row gx-5">
                {% for work in portfolio %} 
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="{{ work.photo1_600 }}" alt="..." />
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="{% url 'portfolio_item' work.id %}">{{ work.title }}</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-lg btn-primary" href="{% url 'contact' %}">Contact us</a>
        </div>
    </section>
{% endblock %}