{% extends "main/layout.html" %}
{% block title %}Privacy and Terms{% endblock %}
{% block body %}
<div class="container">
    <h1 class="mt-5">Privacy and Terms</h1>
    <p class="lead">
        <h3><strong>Privacy Policy:</strong></h3>
        <p>
            We respect your privacy and are committed to protecting your personal data. We will never share your personal information with third parties unless required by law. We only collect personal information that is necessary for us to provide you with our services, and we will only use your personal information for the purposes for which it was collected.
        </p>
        <h3><strong>Terms and Conditions:</strong></h3>
        <p>
            By using our services, you agree to our terms and conditions. We reserve the right to modify these terms and conditions at any time, so please check back periodically for updates. You agree to use our services only for lawful purposes, and you agree not to use our services in a way that infringes on the rights of others or that could damage our reputation. We reserve the right to terminate your access to our services at any time if we believe you have violated these terms and conditions.
        </p>
    </p>
  </div>
{% endblock %}